In [3]:
import pandas as pd
import yfinance as yf
from pathlib import Path
import os
import numpy as np

Goals
- remove NA and check quality
- filter companies by news volume
- clean company (name) column

In [4]:
cwd_path = Path(os.getcwd())

In [5]:
try_file = cwd_path / 'data' / 'raw' / 'sentiment_all.csv'

In [6]:
download_csv = try_file if os.path.exists(try_file) else print('File not found.')

In [7]:
sent_df_raw = pd.read_csv(download_csv, header= 'infer')

In [8]:
sent_df_raw.head()

,date,company,volume,positive,negative,sentiment,esg_score,e_score,s_score,g_score,general_risk_score,esg_risk_score,credit_risk_score,immediate_risk_score,ISIN
0,2010-01-01,company:cara_therapeutics_inc,0,0,0,0.5,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,US1407551092
1,2010-01-02,company:cara_therapeutics_inc,0,0,0,0.5,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,US1407551092
2,2010-01-03,company:cara_therapeutics_inc,0,0,0,0.5,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,US1407551092
3,2010-01-04,company:cara_therapeutics_inc,0,0,0,0.5,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,US1407551092
4,2010-01-05,company:cara_therapeutics_inc,0,0,0,0.5,5.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,US1407551092

In [9]:
def clean_company(ser : pd.Series, sep : str):
    return ser.split(sep)[1]

In [10]:
sent_df = sent_df_raw.copy()

In [13]:
sent_df.replace({'carnival___plc':'carnival_plc'}, inplace= True)

In [14]:
sent_df.query("company == 'carnival_plc'").head()

,date,company,volume,positive,negative,sentiment,esg_score,e_score,s_score,g_score,general_risk_score,esg_risk_score,credit_risk_score,immediate_risk_score,ISIN
10364,2010-01-01,carnival_plc,0,0,0,0.5,5.0,5.0,5.0,5.0,9.990004,0.0,9.989678,0.0,US14365C1036
10365,2010-01-02,carnival_plc,0,0,0,0.5,5.0,5.0,5.0,5.0,9.990004,0.0,9.989677,0.0,US14365C1036
10366,2010-01-03,carnival_plc,0,0,0,0.5,5.0,5.0,5.0,5.0,9.990004,0.0,9.989677,0.0,US14365C1036
10367,2010-01-04,carnival_plc,1,0,0,0.5,5.0,5.0,5.0,5.0,9.990004,0.0,9.989677,0.0,US14365C1036
10368,2010-01-05,carnival_plc,1,0,0,0.5,5.0,5.0,5.0,5.0,9.990004,0.0,9.989677,0.0,US14365C1036

In [16]:
sent_df.to_csv(cwd_path / 'data' / 'cleaned' / 'sentiment_all_cleaned.csv', index= False)

In [ ]:
# pd.Series(sent_df.groupby('company').volume.mean().nlargest(50).index).to_csv('top_50_news_volume.csv', index= False, header= False)

In [190]:
top_50_df = pd.read_csv('top_50_news_volume.csv')

In [159]:
for comp in top_50_df.itertuples():
    try:
        comp_fullname = yf.Ticker(comp.ticker).info['longName']
        print(f'{comp_fullname} ({comp.company}) has a valid ticker.')
    except Exception as e:
        print(f"{comp.company}: {comp.ticker} has error type: {type(e).__name__}")

Morgan Stanley (morgan_stanley) has a valid ticker.
Tesla, Inc. (tesla_motors) has a valid ticker.
Bank of America Corporation (bank_of_america) has a valid ticker.
Airbus SE (airbus) has a valid ticker.
Wells Fargo & Company (wells_fargo) has a valid ticker.
NVIDIA Corporation (nvidia) has a valid ticker.
Johnson & Johnson (johnson_johnson) has a valid ticker.
Oracle Corporation (oracle) has a valid ticker.
AT&T Inc. (at_t) has a valid ticker.
Walmart Inc. (walmart) has a valid ticker.
Salesforce, Inc. (salesforce_com) has a valid ticker.
American Express Company (american_express) has a valid ticker.
Chevron Corporation (chevron) has a valid ticker.
Merck & Co., Inc. (merckco) has a valid ticker.
Starbucks Corporation (starbucks) has a valid ticker.
Honda Motor Co., Ltd. (honda) has a valid ticker.
Nissan Motor Co., Ltd. (nissan) has a valid ticker.
PayPal Holdings, Inc. (paypal) has a valid ticker.
Comcast Corporation (comcast) has a valid ticker.
PepsiCo, Inc. (pepsico) has a valid ticker.
Delta Air Lines, Inc. (delta_air_lines) has a valid ticker.
FedEx Corporation (fedex) has a valid ticker.
Infosys Limited (infosys_ltd) has a valid ticker.
Marriott International, Inc. (marriott_international) has a valid ticker.
American Airlines Group Inc. (american_airlines) has a valid ticker.
Micron Technology, Inc. (micron_technology) has a valid ticker.
GameStop Corp. (gamestop) has a valid ticker.
RTX Corporation (united_technologies) has a valid ticker.
ICICI Bank Limited (icici_bank_ltd) has a valid ticker.
Snap Inc. (snap) has a valid ticker.
Carnival Corporation & plc (carnival_plc) has a valid ticker.
The Kroger Co. (kroger) has a valid ticker.
Lloyds Banking Group plc (lloyds_banking) has a valid ticker.
Blackstone Inc. (the_blackstone_group) has a valid ticker.
Dr. Ing. h.c. F. Porsche AG (porsche) has a valid ticker.
Banco Santander, S.A. (banco_santander) has a valid ticker.
ConocoPhillips (conocophillips) has a valid ticker.
General Mills, Inc. (general_mills) has a valid ticker.
Under Armour, Inc. (under_armour) has a valid ticker.
JetBlue Airways Corporation (jetblue_airways_corp) has a valid ticker.
CVS Health Corporation (cvs_health) has a valid ticker.
STMicroelectronics N.V. (stmicroelectronics) has a valid ticker.
Duke Energy Corporation (duke_energy) has a valid ticker.
Tyson Foods, Inc. (tyson_foods) has a valid ticker.
Enbridge Inc. (enbridge_inc) has a valid ticker.
Hasbro, Inc. (hasbro) has a valid ticker.
Schlumberger Limited (schlumberger) has a valid ticker.
Applied Materials, Inc. (applied_materials) has a valid ticker.
General Dynamics Corporation (general_dynamics) has a valid ticker.
Dominion Energy, Inc. (dominion_energy) has a valid ticker.

In [146]:
sent_df.loc[sent_df.company == 'stmicroelectronics'].head()

,date,company,volume,positive,negative,sentiment,esg_score,e_score,s_score,g_score,general_risk_score,esg_risk_score,credit_risk_score,immediate_risk_score,ISIN
207280,2010-01-01,stmicroelectronics,0,0,0,0.500000,3.116835,5.195195,3.312297,4.285846,8.274945,5.230438,8.871843,4.810930,US8610121027
207281,2010-01-02,stmicroelectronics,0,0,0,0.500000,3.116835,5.195195,3.312297,4.285846,8.274945,5.230438,8.871843,4.810930,US8610121027
207282,2010-01-03,stmicroelectronics,1,1,0,0.666667,0.271508,7.867868,0.349008,0.915558,9.974058,9.764842,9.989095,9.636331,US8610121027
207283,2010-01-04,stmicroelectronics,9,9,0,0.909091,1.726463,6.098303,1.955443,3.012178,9.531742,7.785769,9.753490,7.448936,US8610121027
207284,2010-01-05,stmicroelectronics,11,11,0,0.923077,2.518482,5.953505,2.813557,3.688596,9.066110,6.381843,9.453727,5.999435,US8610121027

In [167]:
target_metadata = ['symbol', 'shortName', 'longName', 'country', 'industry', 'sector', 'currency', 'financialCurrency', 'language', 'region', 'typeDisp', 'market', 'fullExchangeName', 'exchange']

In [168]:
comp_dim_df = pd.DataFrame(columns= target_metadata)
for comp in top_50_df.itertuples():
    try:
        # get company info from yf
        comp_dim = yf.Ticker(comp.ticker).info
        result_df = pd.DataFrame([{key: comp_dim[key] for key in target_metadata if key in comp_dim}])
      
        # concatenate to company dim df
        comp_dim_df = pd.concat([comp_dim_df, result_df], ignore_index= True)
        
    except Exception as e:
        print(f"{comp.company}: {comp.ticker} has error type: {type(e).__name__}")
        print(e)

In [188]:
comp_dim_df.to_csv('top_50_dim.csv', index= False)

In [192]:
top_50_df.head()

      company_sent  ticker
0   morgan_stanley      MS
1     tesla_motors    TSLA
2  bank_of_america     BAC
3           airbus  AIR.PA
4      wells_fargo     WFC

In [204]:
comp_50_dim_df = pd.merge(left= comp_dim_df, right= top_50_df, how= 'left', left_on= 'symbol', right_on= 'ticker')

In [205]:
# comp_50_dim_df.to_csv('top_50_dim.csv', index= False)